@import "bourbon";
@import "vars.scss";

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
	.brends{
		margin-top: 100px;
	}
}



@media only screen and (max-width : 1270px){
  .all-items-for {
    text-align: center;
    ul {
      display: inline-block;
      li{
        text-align: left;
        margin: 23.5px 15px;
        display: inline-block;
        float: none;
        &:nth-child(3n+1){
          margin: 23.5px 15px;
        }
        &:nth-child(3n){
          margin: 23.5px 15px;
        }
      }
    }
  }
  .arrows-slider {
    .left-arrow{
      a{
        left: 20px;
      }
    }
    .right-arrow{
      a{
        right: 20px;
      }
    }
    .left-arrow1{
      a{
        left: 20px;
      }
    }
    .right-arrow1{
      a{
        right: 20px;
      }
    }
  }
  .all-reviews {
    ul{
      text-align: center;
      li{
        display: inline-block;
        text-align: left;
        float: none;
        margin: 25px 10px;
        &:nth-child(2n){
          margin: 25px 10px;
        }
        &:nth-child(2n+1){
          margin: 25px 10px;
        }
      }
    }

  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1229px) {
  header{
    .call-back {
      margin-left: -20px;
    }
  }
  footer{
    background-position: 900px center;
  }
}
@media only screen and (max-width : 1222px){
  .next-brends
  ul{
    li{
      margin: 14.5px 10px;
      &:nth-child(4n+1){
        margin-left: 10px;
      }
    }
  }
}




@media only screen and (max-width : 1213px){
  .working-offers ul li{
    margin: 15px 17.5px;
    &:nth-child(3n){
      &:after{
        display: none;
      }
    }
  }
}



@media only screen and (max-width : 1211px){
  .all-brends{
    padding: 0 58px;
  }
  .next-brends
  ul{
    li{
      margin: 14.5px 3.5px;
      &:nth-child(4n+1){
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width : 1208px){
  .all-first-item{
    float: none;
    display: block;
    margin:  0 auto;
  }

  .next-brends ul{
    text-align: center;
    li{
      margin: 14.5px 10px;
      float: none;
      display: inline-block;
      &:nth-child(4n){
        margin: 14.5px 10px;
      }
      &:nth-child(4n+1){
        margin: 14.5px 10px;
      }
    }
  }
  footer{
    background-position: 800px center;
  }
}


@media only screen and (max-width : 1202px){
  .forma-for-dicsount .red-line-k ul li p{
    font-size: 1.5vw;
  }
}




@media only screen and (max-width : 1195px){
  .top-slide-form .inner{
    left: 0;
    max-width: 1230px;
    margin-left: 0;
  }
  .banner{
    margin-top: 80px;
  }
  .top-slide-form{
    .forma{
      margin-top: 80px;
    }
  }
}


@media only screen and (max-width : 1148px){
  .g-item{
    ul{
      li{
        float: none;
        display: inline-block;
      }
    }
  }
  footer{
    background-position: 700px center;
  }
}


@media only screen and (max-width : 1145px){
  .head-menu{
    margin-left: -25px;
  }
}
@media only screen and (max-width : 1127px){
  .service ul li{
    padding: 0 40px;
  }
}


@media only screen and (max-width : 1117px){
  .conditions ul li p{
    width: 88%;
  }
}






@media only screen and (max-width : 1110px){
  header{
    .head-menu{
      margin-left: -55px;
    }
    .call-back{
      margin-left: -60px;
    }
  }
  .forma-x input{
    margin: 15px;
  }
}



@media only screen and (max-width : 1070px){
  header{
    .head-menu{
      display: none;
    }
    .toggle_mnu{
      display: block !important;
    }
    .call-back{
      margin-left: -60px;
    }
    .col-md-8{
      position: inherit;
    }
  }
}

@media only screen and (max-width : 1047px){
  .service ul li{
    padding: 0 20px;
  }
  .forma-for-dicsount .forma .stock{
    background-position: 50px center;
  }
}


@media only screen and (max-width : 1000px){
  .slider-form .lSSlideOuter .lSGallery li img, .slider-form .lSSlideOuter .lightSlider > *{
    img{
      width: 100%;
      min-height: 700px;
    }
  }
  .slider-form{
    #autoplay{
      height: 700px !important;
    }
  }
}



@media only screen and (max-width : 967px){
  .service ul {
    text-align: center;
    li{
      float: none;
      display: inline-block;
      margin: 15px 0;
      &:first-child{
        border-right: none;
      }
    }

  }
}



@media only screen and (max-width : 991px){
  .logo{
    text-align: center;
  }
  header .call-back{
    text-align: center;
    margin-left: 0;
    padding: 10px 0;
    a{
      text-align: center;
    }
  }
  .sandwich.active .sw-topper{
    top: -50px;
  }
  .sandwich.active .sw-bottom{
    top: -55px;
  }
  .why{
    background-image: none;
  }
  .right-why{
    text-align: center;
  }
  .right-why .right-items li{
    &:nth-child(2n){
      margin: 32px 15px;
    }
  }
  .forma-for-dicsount .forma form{
    padding: 24px 30px;
  }
  footer{
    background-image: none;
    text-align: center;
    .belt{
      display: block;
    }
    .lic{
      display: inline-block;
      text-align: center;
      float: none;
    }
    .call-back{
      margin: 25px 0;
      text-align: center;
      display: block;
      float: none;
      a{
        text-align: center;
      }
    }
  }
  .cart{
    padding: 25px;
    text-align: center;
    h2{
      text-align: center;
    }
  }
  .left-tov-slid{
    width: 100%;
    float: none;
  }
  .right-characteristic{
    width: 100%;
    margin-top: 25px;
    float: none;
    padding: 0;
  }
  .char-r{
    text-align: left;
    display: inline-block;
  }
  .conditions ul li p{
    text-align: left;
  }
  .conditions ul li .img-cond{
    width: 5%;
  }
}


@media only screen and (max-width : 945px){
  .forma-for-dicsount .red-line-k ul li{
    width: 100%;
    .img-red-line{
      padding-top: 25px;
    }
    p{
      font-size: 2vw;
    }
  }
}



@media only screen and (max-width : 916px){
  .working-offers ul li{
    &:nth-child(3n){
      &:after{
        display: block;
      }
    }
    &:nth-child(2n){
      &:after{
        display: none;
      }
    }
  }
}

@media only screen and (max-width : 880px){
  .forma-for-dicsount {
    .forma{
      width: 100%;
      .stock{
        background-position: 30% center;
      }
    }
    .img-discount{
      width: 100%;
    }

  }
}

@media only screen and (max-width : 861px){
  .brends{
    margin-top: 25px;
    a{
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width : 850px){
  .banner {
    h1{
      font-size: 5.5vw;
    }
    h2{
      font-size: 4vw;
    }

  }
}




@media only screen and (max-width : 822px){
  .banner p{
    font-size: 2.3vw;
  }
}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .mobile-ver-sl{
    display: block;
    .top-sl-mobile{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      .banner li{
        padding-left: 0;
        display: block;
        p{
          display: inline-block;
          position: relative;
          &:after{
            left: -25px;
          }
        }
      }
      .brends{
        text-align: center;
        ul{
          display: inline-block;
          li{
            float: none;
            display: inline-block;
            &:nth-child(3n){
              margin: 22px 10px;
            }
            &:nth-child(3n+1){
              margin: 22px 10px;
            }
          }
        }
      }
    }
  }
  .top-slide-form{
    .inner{
      display: none;
    }
  }
  .right-top-forma{
    text-align: center;
  }
  .forma-for-dicsount .red-line-k ul li p{
    font-size:3.5vw;
  }

}


@media only screen and (max-width : 679px){
  .right-why .right-items {
      text-align: center;
      li{
        float: none;
        display: inline-block;
      }
  }
}


@media only screen and (max-width : 649px){
  .all-reviews ul li .foto-client{
    float: none;
    max-width: inherit;
    text-align: center;
    img{
      height: 350px;
    }
  }
  .all-reviews ul li .otz-text{
    float: none;
    background-color: #f6e5ce;
  }
  .slider-reviews{
    .lSSlideOuter .lSPager, .lSSlideOuter .lightSlider{
      height: 100% !important;
    }
  }
}


@media only screen and (max-width : 619px){
  .working-offers ul li{
    &:after{
      display: none;
    }
    &:nth-child(3n){
      &:after{
        display: none;
      }
    }
  }
  .forma-for-dicsount .forma .stock{
    background-image: none;
    padding: 30px 0;
    text-align: center;
    p{
      padding: 0;
    }
  }
  .all-brends{
    padding: 0;
  }
}

@media only screen and (max-width : 600px){
  .mobile-ver-sl .top-sl-mobile .banner li p{
    font-size: 3.5vw;
  }
  .banner{
    h1{
      font-size: 6vw;
    }
    h2{
      font-size: 5vw;
    }
  }
}




@media only screen and (max-width : 550px){
  .forma-for-dicsount{
    padding: 25px;
  }
  .forma-for-dicsount .forma .stock{
    background-position: 10% center;
  }
  .forma-for-dicsount .forma{
    min-width: 300px;
  }
  .forma-for-dicsount .red-line-k ul li p{
    font-size: 3.3vw;
  }
}




/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) {
  .service ul li .img-service{
    float: none;
    text-align: center;
  }
  footer{
    .belt{
      img{
        width: 100%;
      }
    }
  }
  .left-tov-slid .lSGallery li{
    height: auto;
  }
}


@media only screen and (max-width : 470px){
  .all-items-for ul li{
    margin: 40px 15px;
  }
  .arrows-slider{
    top: 52.1%;
  }
  .conditions ul li .img-cond{
    width: 100%;
    text-align: center;
  }
  .conditions ul li p{
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width : 450px){
  .all-reviews{
    padding: 0;
  }
  .mobile-ver-sl .top-sl-mobile .banner li p{
    font-size:4.5vw;
  }
  .forma-for-dicsount .red-line-k ul li p{
    font-size: 5vw;
  }
}

@media only screen and (max-width : 420px){
  .arrows-slider{
    top: 51.9%;
  }
  .buy-items-slide{
    padding: 0;
  }
  .next-brends ul li{
    margin: 15px 0;
    &:nth-child(4n){
      margin: 15px 0;
    }
    &:nth-child(4n+1){
      margin: 15px 0;
    }
  }
}

@media only screen and (max-width : 394px){
  .left-cha{
    width: 150px;
    p{
      font-size: 15px;
    }
  }
  .cart{
    padding: 15px 5px;
  }
}




@media only screen and (max-width : 380px){
  .mCSB_scrollTools{
    right: 15px;
  }
  .forma-for-dicsount{
    padding: 15px 0px;
  }
  .all-reviews ul li .otz-text{
    padding: 5px;
    max-width: 320px;
    p{
      padding-right: 50px;
    }
    .mCSB_inside > .mCSB_container{
      margin-right: 0;
      left:0 !important;
    }
  }

  .all-reviews ul li .foto-client{
    width: 320px;
  }
}

@media only screen and (max-width : 350px){
  .forma-x input{
    margin: 15px 0;
  }
  .forma-x button{
    margin: 15px 0;
  }
  .all-reviews ul li{
    margin: 30px 0;
    &:nth-child(2n){
      margin: 30px 0;
    }
    &:nth-child(2n+1){
      margin: 30px 0;
    }
  }
}


@media only screen and (max-width : 340px){
  .mCSB_scrollTools{
    right: 25px;
  }
  .cart .availability *{
    float: none !important;
    display: inline-block;
    text-align: center;
  }
}

@media only screen and (max-width : 320px){
  .mCSB_scrollTools{
    right: 35px;
  }
}